#heading1{
    font-weight:bold;
    font-size: 40px;
    text-align: center;
    padding: 5px 00px 2px 0px;
    background: rgb(246, 130, 130);
    margin: 00px;
    width: 500px;
    height: 60px;
    font-family:cursive;
    color: rgb(188, 00, 00);
}
input[type="button"]{
    color: rgb(255, 89, 89);
    width: 100%;
    font-size: 30px;
    height: 70px;
    font-family: cursive;
}
input[type="text"]{
    width: 93%;
    border: 2px solid rgb(255, 15, 15);
    padding: 8px;
    font-size: 20px;
    height: 45px;
    font-family: cursive;
}
table{
    border: 5px solid rgb(255, 89, 89);
    margin-left: 35%;
    margin-top: 13%;
    width: 500px;
    
}
body{
    background: rgb(218, 218, 218);
}
#demo{
    color: chartreuse;
}